body{
	background-color:black;
	display:flex;
	justify-content:center;
	align-items:center;
	height:100vh;
}
heart{
	width:100px;
	height:100px;
	background-color:red;
	position:relative;
	transform:rotate(-45deg);
	animation:beat 1s infinite;

}
heart::before,
heart::after{
	content:"";
	width:100px;
	height:100px;
	background-color:red;
	border-radius:50%;
	position:absolute;
}
heart::before{
	top:-50px;
	left:0;
	
}
heart::after{
	top:0;
	left:50px;
}
@keyframes beat 0%{
	transform:rotate(-45deg)
scale(1);
}
50%{
	transform:rotate(-45deg)
scale(1.2);
}
100%{
	transform:rotate(-45deg)
scale(1);
}